.itemName {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
}

.itemSize {
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
}

.itemPrice {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}