@import "../../style/partials/mixins";
@import "../../style/partials/fonts";


.backtotopbutton {
    margin-top: 10px;
    background-color: #37475A;
    color: aliceblue;
    font-family:  cuteFont;
    font-size: 1.5rem;
    cursor: pointer;
}